* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lato', sans-serif;
  }
  header {
      background-image: url('');
      color: black;
  }

  nav {
    height: 70px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white !important;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links li a::after{
    position: absolute !important;
    content: '' !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 0% !important;
    height: 2px !important;
    border-radius: 10px !important;
    margin: auto !important;
    transition: all .4s !important;
    opacity: 0 !important;
    background-color: linear-gradient(135.92deg, #0051BE 0%, #7FE8F3 100%) !important;
}
.nav-links li a:hover::after{
    width: 100% !important;
    opacity: 1 !important;
}
.mobile {
  display: none;
}
.calm {
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 100px;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}
.headercontent {
  display: flex;
  padding: 5%;
}
.content1 {
  width: 100%;
}

.content1 h1 {
  font-size: 48px;
  margin-top: 10%;
  line-height: 1.5;
}

.content1 .lorem0 {
  margin-top: 5%;
  font-size: 14px;
  width: 80%;
  line-height: 2;
}

.content1 .lorem1 {
  margin-top: 15%;
  font-size: 18px;
  font-weight: bold;
}

form {
  display: flex;
  margin-top: 10%;
}

.email {
  padding: 1%;
  height: 49px;
  width: 45%;
  border-radius: 5px;
  border:  1.5px solid linear-gradient(135.92deg, #0051BE 0%, #7FE8F3 100%);
}
.submit {
  padding: 1%;
  height: 49px;
  width: 30%;
  border-radius: 5px;
  margin-left: 10%;
  background: linear-gradient(135.92deg, #0051BE 0%, #7FE8F3 100%);
  border: none;
  color: white;
}
iframe {
  margin-top: 5%;
}
.content2 {
  width: 100%;
}
.content2 img {
  margin-left: 30%;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.firstsec {
  padding: 5%;
}
.firstsec i {
  color: blue;
}

.firstsecin {
  display: flex;
  justify-content: space-evenly;
}
.box {
  border: 1.5px solid #451705;
  height: 300px;
  width: 25%;
  border-radius: 5px;
  padding: 1%;
  text-align: center;
}
.prebrain {
  border: 1px solid gray;
  border-radius: 50%;
  width: 20%;
  padding: 5%;
  margin-top: 5%;
  margin-left: 38%;
}
.brain {
  height: 30px;
  width: 100%;
}
.bold {
  font-size: 18px;
  margin-top: 5%;
  font-weight: bold;
}
.lorem2 {
  line-height: 2;
  font-size: 18px;
  margin-top: 5%;
}
.secondsec {
  margin-top: 10%;
}
.secondsecin {
  display: flex;
}
.twinimg {
  width: 100%;
  margin-left: 5%;
  display: flex;
}
.scale {
  height: 500px;
  position: relative;
  margin-bottom: 40px;
  z-index: -1;
  margin-left: -10%;
  top: 100px;
}
.twincontent {
  margin-right: 5%;
}
.twincontent h3 {
  font-size: 36px;
}
.features {
  margin-top: 10%;
}.feat {
  font-size: 18px;
  margin-top: 10%;
}
.featstats {
  font-size: 18px;
  display: block;
}
.fa {
  color: blue;
  padding: 1%;
  height: 50px;
}

.vector3 {
  position: relative;
  z-index: -2;
  margin-top: -20%;
  width: 100%;
}
.vector4 {
  position: relative;
  z-index: -3;
  margin-top: -40%;
  width: 100%;
}
.thirdsec {
  padding: 5%;
}
.thirdsecin {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.thirdsec h1 {
  font-size: 36px;
  text-align: center;
}
.box1 {
  border: none;
  height: 300px;
  width: 25%;
  border-radius: 5px;
  padding: 1%;
  text-align: center;
  background: linear-gradient(135.92deg, #0051BE 0%, #7FE8F3 100%);
  color: white;
}
#atom {
  font-size: 60px;
}
.phones {
  margin-top: 10%;
}
.phones h1 {
  font-size: 36px;
}
.phonesin {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.phonesin img {
  height: 300px;
}
.comingsoon {
  margin-top: 10%;
}
.nemail {
  padding: 1%;
  height: 49px;
  width: 30%;
  border-radius: 5px;
  border:  1.5px solid linear-gradient(135.92deg, #0051BE 0%, #7FE8F3 100%);
  margin-left: 25%;
}
.nsubmit {
  padding: 1%;
  height: 49px;
  width: 15%;
  border-radius: 5px;
  margin-left: 5%;
  background: linear-gradient(135.92deg, #0051BE 0%, #7FE8F3 100%);
  border: none;
  color: white;
}
.footer {
  height: 10px;
  padding: 5%;
  background: #112C50;
  display: flex;
  justify-content: space-between;
}

  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #5b78c7;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0 !important;
    }
    .nav-links li a {
      font-size: 25px !important;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s !important;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s !important;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s !important;
    }
    .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.8s !important;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 1s !important;
      }
    li.fade {
      opacity: 1 !important;
    }
    .calm {
        left: 70px;
        font-size: 25px;
        top: 15px;
    }
   
  }
  